<a href="https://colab.research.google.com/github/chirucodes/concepts/blob/master/Executable_pandas_where_condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import pandas as pd
import numpy as np

In [59]:
np.random.seed(seed=42)

df = pd.DataFrame(data=np.random.randint(0,100,(4,3)),
                  columns=['Test1','Test2', 'Test3'],
                  index=['bob','swift','galaxy','iphone'])

In [60]:
df

        Test1  Test2  Test3
bob        51     92     14
swift      71     60     20
galaxy     82     86     74
iphone     74     87     99

### Only FALSE Values would be replaced.

In [61]:
df<90

        Test1  Test2  Test3
bob      True  False   True
swift    True   True   True
galaxy   True   True   True
iphone   True   True  False

In [62]:
df.where(df<90, 'A+')

        Test1 Test2 Test3
bob        51    A+    14
swift      71    60    20
galaxy     82    86    74
iphone     74    87    A+

In [63]:
df.where(~(df<90), 'A+') #Wit negtion or to update where True values are there

       Test1 Test2 Test3
bob       A+    92    A+
swift     A+    A+    A+
galaxy    A+    A+    A+
iphone    A+    A+    99

In [64]:
df

        Test1  Test2  Test3
bob        51     92     14
swift      71     60     20
galaxy     82     86     74
iphone     74     87     99

In [65]:
df.where(df['Test2'] > 90, 'A+')  #Updating all the rows where 'Test2' value is <90

       Test1 Test2 Test3
bob       51    92    14
swift     A+    A+    A+
galaxy    A+    A+    A+
iphone    A+    A+    A+

In [66]:
df.where(df['Test2'] < 90, 'A+')

       Test1 Test2 Test3
bob       A+    A+    A+
swift     71    60    20
galaxy    82    86    74
iphone    74    87    99

In [67]:
df

        Test1  Test2  Test3
bob        51     92     14
swift      71     60     20
galaxy     82     86     74
iphone     74     87     99

In [68]:
df.where(df['Test2']>90, 'A+', inplace=True)

In [69]:
df

       Test1 Test2 Test3
bob       51    92    14
swift     A+    A+    A+
galaxy    A+    A+    A+
iphone    A+    A+    A+

In [70]:
np.random.seed(seed=42)

df = pd.DataFrame(data=np.random.randint(0,100,(4,3)),
                  columns=['Test1','Test2', 'Test3'],
                  index=['bob','swift','galaxy','iphone'])
df

        Test1  Test2  Test3
bob        51     92     14
swift      71     60     20
galaxy     82     86     74
iphone     74     87     99

In [71]:
df.where(df['Test2']>90, lambda x: x+100, inplace=True)   #Apply lamda function where the condition is not satisfied

In [72]:
df

        Test1  Test2  Test3
bob        51     92     14
swift     171    160    120
galaxy    182    186    174
iphone    174    187    199

In [73]:
np.random.seed(seed=99)

another_df = pd.DataFrame(data=np.random.randint(0,100,(4,3)),
                  columns=['Test1','Test2', 'Test3'],
                  index=['bob','swift','galaxy','iphone'])

In [74]:
another_df

        Test1  Test2  Test3
bob         1     35     57
swift      40     73     82
galaxy     68     69     52
iphone      1     23     35

### Getting the values form other dtaframe

In [75]:
df.where(df['Test2']<90, another_df)

        Test1  Test2  Test3
bob         1     35     57
swift      40     73     82
galaxy     68     69     52
iphone      1     23     35

In [57]:
df

        Test1  Test2  Test3
bob        51     92     14
swift     171    160    120
galaxy    182    186    174
iphone    174    187    199

### To update a specific cell in a dataframe using pandas.where

In [90]:
df['Test1'] = df.where(df['Test1']>90,111)

In [89]:
df

        Test1  Test2  Test3
bob       111     92     14
swift     171    160    120
galaxy    182    186    174
iphone    174    187    199